#attack1{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
}

#attack2{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
}

#attack3{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
}

#attack4{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
}