#attack1{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
    -webkit-appearance: none;
}

#attack2{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
    -webkit-appearance: none;

}

#attack3{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
    -webkit-appearance: none;
}

#attack4{
    display: inline;
    font-size: x-large;
    font-family: "comic sans ms";
    white-space:normal;
    -webkit-appearance: none;
}